

 body {
   background: linear-gradient(to right, rgb(255, 123, 0), rgb(230, 210, 39) ) 
 }

 
 .App {
  align-items: center;
} 
.App main {
  height: 100%;
  width: 80%;
  margin: 30px;
  background-color: rgb(230, 210, 39);
  padding: 50px;
}


.App-header {
 display: flex;
 justify-content: center;
 align-items: center;
}

.food {
  border: solid 1px black;
  width: 250px;
  background-color: orange;
  color: yellow;
  opacity: 0.8;
  margin: 10px;
}

.food:hover {
  opacity: 1;
}

.link-edit {
text-align: center;
align-items: center;
}

.details {
  width: 80%;
  margin: 0 auto;
  border: black 2px solid;
  background-color: orangered;
  opacity: 0.8;
}

a:hover {
  background-color: cyan;
}

a {
  margin: 10px;
 border: solid 3px blueviolet;
 background-color: blueviolet;
 border-radius: 8px;
 color: inherit;
}

.delete {
  background-color: crimson;
  border-radius: 5px;
  width: 120px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
}